# LGE_CHANGE_S: define kconfig for sensors
#
# Sensor driver configuration
#
menuconfig INPUT_SENSOR
	bool "Sensors"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_SENSOR

config SENSOR_SX9500
    tristate "SX9500 based capacitive touch button"
    depends on I2C
    help
      Say Y here if you have a SX9500.
      If unsure, say N.

      To compile this driver as a module, choose M here: the
      module will be called sx8651.

endif
# LGE_CHANGE_E
